.popup__error-message {
  display: block;
  min-height: 30px;
  color: #FF3333;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 400;
  width: 358px;
  margin: 5px auto 0;
  padding: 0;
  opacity: 0; 
}

@media screen and (max-width: 660px) {
.popup__error-message {
  width: 238px;
}
}